window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="Alacritty" title="^hx"
    open-maximized true
}

window-rule {
    draw-border-with-background false
    clip-to-geometry true
    tiled-state true
}
